<div style='padding: 15px; border: 1px solid #000000; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; width: 400px;'>
<h2 style='background-color: #ffc0cb; color: #ffffff; padding: 10px; text-align: center;'>Данные о сообщении</h2>
<table style='font-family: Arial; width: 100%; background-color: #dcdcdc;'>
<tr><td style='padding: 10px;'>Электронный адрес:</td><td style='padding: 10px;'>morgenshtern@gmail.com</td></tr>
<tr><td style='padding: 10px;'>Отправитель:</td><td style='padding: 10px;'>shaman</td></tr>
<tr><td style='padding: 10px;'>Сообщение:</td><td style='padding: 10px;'>ya russkiy</td></tr>
</table>
</div>
